@import url('./assets/css/reset.css');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("./assets/images/space.webp"), url("./assets/images/space.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	min-width: 800px;
	min-height: 515px;
	box-shadow: 0 0 10px 10px #fff;
	color: #fff;
}

.labelWrapper {
	display: flex;
	flex-direction: column;
}